index.html
style.css
script.js
Form-Validation/
Form-Validation/index.html
Form-Validation/index.js
Form-Validation/style.css

CRUD-Project/
CRUD-Project/index.html
CRUD-Project/index.js
CRUD-Project/style.css
